<nav class="navbar navbar-inverse">
    <div class="container-fluid container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"> {% trans %} Assignments {% endtrans %} </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if is_granted('ROLE_ADMIN') %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {% trans %} Users {% endtrans %}  <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('emm_user_index') }}"> {% trans %} List users {% endtrans %} </a></li>
                        <li><a href="{{ path('emm_user_add') }}"> {% trans %} New user {% endtrans %} </a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {% trans %} Tasks {% endtrans %}  <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('emm_task_index') }}"> {% trans %} List tasks {% endtrans %} </a></li>
                        <li><a href="{{ path('emm_task_add') }}"> {% trans %} New task {% endtrans %} </a></li>
                    </ul>
                </li>   
                {% endif %}
                
                {% if is_granted('ROLE_USER') %}
                <li>
                    <a href="{{ path('emm_task_custom') }}">{{ 'My tasks'|trans }}</a>
                </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ path('emm_user_logout') }}">{{ 'Logout'|trans }}</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>